/* Root Styles */
#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Image Container Styles */
.image-container {
  transition: transform 0.3s;
}

.image-container:hover {
  transform: scale(1.05);
}

/* Slider Styles */
.slider-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide overflow */
}

.slider-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container */
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframes for Animations */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Animation Preferences */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Font Face Declaration */
@font-face {
  font-family: 'slick';
  src: url('/fonts/slick.woff') format('woff'),
       url('/fonts/slick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Card Styles */
.card {
  padding: 2em;
}

/* Documentation Link Styles */
.read-the-docs {
  color: #888;
}
